
@keyframes rickroll {
  0%, 10% {
    opacity: 0;
  }
  15%, 100% {
    opacity: 1;
  }
}
@keyframes showing-up {
  from {opacity: 0;}
  to {opacity: 1;}
  
}
@keyframes vanishing{
  /* 0%{
    opacity: 1;
  }
  25%{
    opacity: 0.75;
    transform: rotateX(22.5deg);
  }
  50%{
    opacity: 0.5;
    transform: rotateX(45deg);
  }
  75%{
    opacity: 0.5;
    transform: rotateX(67.5deg);
  }
  100%{
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  } */
  from { opacity:1; }
  to {
    opacity: 0;
    display: none;
  }
}


#ricky{
  border-radius: 7px;
  height: 255px;
  box-shadow: -14px 9px 14px -4px #df1010b5;
  -webkit-box-shadow: -14px 9px 14px -4px #df1010b5;
  -moz-box-shadow:-14px 9px 14px -4px #df1010b5;
  animation:showing-up 2s;
}

#rick-wraper{
  height: 65%;
}

#rickroll{
  animation:showing-up 2s;
}