<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Consider this as 404</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='rickroll.css') }}">
  <script src="{{ url_for('static', filename='rickroll.js') }}"></script>

</head>
<body>
  <div id="main">
    <div id="rick-wraper"></div>
    <h2 id="text"> 
      Even before you know it...
      <br>Even before you feel it...
      <br>You've got rickrolled. </h1>
  </div>
</body>
</html>
